body {
  font-family: sans-serif;
  background-color: #00010d;
  color: #ffffff;
}

h1, h2, h3 {
  font-family: 'Georgia', serif;
}

h1 {
  margin: 0.5em 0;
}

h2 {
  margin: 0.5em 0;
}

h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.container{
  width: 980px;
  height: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  background-color: #0A131A;
}

#map {
  position: relative;
  float: left;
  width:  640px;
  height: 580px;
  margin-left: 2em !important;
  color: #000000;
}

#mapnav {
  float: right;
  margin-left: 1em;
  margin-right: 2em;
  background-color: #0A131A;
}

#mapnav>div {
  margin-left: 1em;
}

#mapnav>div>div {
  margin-left: 1em;
}

#mapnav>div>div>div {
  margin: 0.25em 0;
}

div.utilObserverControlNav {
  position: absolute;
  padding: 0.15em;
  font-family: monospace;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 2000;
}


/*
 * Override the default theme of OpenLayers
 */
div.olControlMousePosition {
  bottom: 27px;
  right: 20px;
  padding: 0.150em;
  font-size: small;
  background-color: rgba(255, 255, 255, 0.75);
}

.olControlScaleLine {
  left: 20px;
  bottom: 27px;
  font-size: x-small;
  background-color: rgba(255, 255, 255, 0.75);
}
